@font-face
  font-family: 'Schoolbell'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url(https://fonts.gstatic.com/s/schoolbell/v11/92zQtBZWOrcgoe-fgnJIZxUa6w.woff2) format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD 
@media screen and (min-width: 1000px) 
  main
    grid-template-columns: 2fr 1fr
    width: min(1100px, calc(100vw - 5em))
    height: min(900px, calc(100vh - 5em)) 
body
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
  background: #181818
  color: white
  display: grid
  place-items: center
  margin: 0
  font-size: 20px
  min-height: 100vh
::selection
  background-color: #18181880
main 
  display: grid
  gap: 2em
  padding: 2em
.info, .links a
  background: #ffffff1a
  padding: 3rem
  border-radius: 4rem
.info
  grid-template-columns: 1fr
  display: flex
  flex-direction: column
  gap: 1em
  img
    width: 100%
    max-width: 460px
    height: auto
    align-self: center
    border-radius: 3em
    border: 3px solid #00000080
  p, h1
    margin: 0
.links 
  display: grid
  gap: 2em
  a 
    color: white
    display: flex
    align-items: center
    gap: 1em
    text-decoration: none
    font-size: 1.2em
    transition: transform .25s ease
    &:hover
      transform: scale(1.1) rotate(5deg)
    &:focus-visible
      outline-offset: .5em
      outline-color: white
      outline-style: dashed
      outline-width: 3px
  svg
    width: 3em
    height: 3em
span
  font-family: 'Schoolbell', cursive
  font-size: 1.2em
  padding: 2px .2em
  color: #ff1d61
  text-decoration: underline
  text-decoration-color: white
  &::before, &::after 
    content: ' ‎ '
h1
  font-size: 2.5rem
p
  color: #e2e2e2